[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["npm ci --omit=dev"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "node server.js"

[variables]
NODE_ENV = "production"
NEXT_TELEMETRY_DISABLED = "1"
PORT = "3000"
HOSTNAME = "0.0.0.0"